footer{
    background-color: rgb(22, 154, 243);
    color: white;
    text-align: center;
    padding: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.521);
    border-radius: 15px;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}